# Godot 4+ specific ignores
.godot/
/android/

# Lokalny, niewysyłany folder dla gry, bo czemu nie
_ExportedGameLocal/*
!_ExportedGameLocal/_empty
!_ExportedGameLocal/.gdignore



# Z FORKA

# Visual studio ignores
.vs/
